<link rel="shortcut icon" href="#">
<html>

<head>
    <script type="text/javascript">
        function load() 
        {   
            var dir=window.location.href;
            console.log('Direccion: '+dir);
            //window.open(direccion, '_blank');
        }
    </script>
</head>

<body onload="">
    <h1>Track id requiered:
        <p><%= pathOut %></p>
    </h1>
    <h1>Dir:
        <p><%= fileDir %></p>
    </h1>
    <h1>JsonFile:
        <p><%= jsonFile %></p>
    </h1>
</body>

</html>